.container-fluid{
    height: 750px;
    background: url("./../img/fondo.jpg");
    background-size: 100% 100%;
    position: fixed;
}

.jumbotron{
    margin-top: 6%;
    margin-left: 15%;
    margin-right: 15%;
    background-color: #ffffff9e!important;
    text-align: center;
}

#titulo_grande{
    color: #9c561d;
}