/*------------
Navbar Styles
 ------------*/

nav{
    background: rgb(80,80,80);
}

.navbar-brand {
    display: flex;
    align-items: center;
}

.nav-item{
    height: 100%;
    background-color: rgba(0,0,0,0);
    transition: background-color 0.5s ease;
    text-align: center;
    border-right: 10vw;
    width: 10vw;
}

.nav-item:hover{
    background-color: rgb(207,164,60);
    transition: background-color 0.5s ease;
}

.nav-item:focus{
    background-color: rgb(207,164,60);
    transition: background-color 0.5s ease;
}

.active-item{
    background-color: rgb(207,164,60);
    transition: background-color 0.5s ease;
    transition: color 0.5s ease;
    transition: border-bottom-color 0.5s ease;
    border-bottom: white solid 2px;
    color: white;
}

.nav-link{
    color: rgb(207,164,60);
    transition: color 0.5s ease;
    font-family: 'Mukta Mahee', sans-serif;
    font-size: 100%;
}

.nav-link:hover{
    color: white;
    transition: color 0.5s ease;
}

.nav-link:focus{
    color: white;
    transition: color 0.5s ease;
}

.active-link{
    color: white;
    transition: color 0.5s ease;
}

#navbar_logo{
    height: 70%;
    width: 70%;
}

.navbar-toggler-icon{
    color: rgb(207,164,60);
}

/*------------
Content Adjustment Styles
 ------------*/

@media (max-width: 768px) {
    .nav-item{
        height: 100%;
        border-radius: 0;
        text-align: center;
        width: 100%;
    }

    #navbar_logo{
        height: 70%;
        width: 70%;
    }
}
