

.centrarContenido {
  margin: auto;
}

.labelInput {
  position: relative;
  text-align: left; 
}

form {
  border : 1px solid #000;
  padding : 40px;
  border-radius: 10px;
  background-color: #D0D9DB;
}

.divProducto {
  display: inline-block;
}

.nombreProducto {
  display: block;
}

.inputNumber {
  width: 100px;
}

#fondo_facturas{
  height: 100%;
  background: url("./../img/fondo_facturas.jpg");
  background-size: 100% 100%;
  position: relative;
}

#jumbotron_estilo{
  top: 0px;
  margin-right: 0;
  margin-left: 0;
}

.separador{
  padding-top: 80px;
}

#titulo_form{
  color: #935116;
}

.agregar_productos{
  padding-bottom: 5px;
}

#boton_agregar_productos{
  padding: 7px;
}

#jumbotron_detalle{
  top: 0px;
  margin-right: 0;
  margin-left: 0;
  margin-top: 0;
}