#fondo_facturas{
  height: 100%;
  background: url("./../img/fondo_facturas.jpg");
  background-size: 100% 100%;
  position: relative;
}

.card{
  margin: 10px;
}

.card_factura{
  cursor: pointer;
}

a{
  color: black;
}

a:hover{
  color: black;
  text-decoration: solid;
}

.btn{
  margin-right: 5px;
  cursor: auto;
}

.contenedor_titulo{
  padding-top: 50px;
}